---
import Layout from "../layouts/Layout.astro";
import BookingStepOneWrapper from "../components/book/BookingStepOneWrapper.astro";
import BookingStepTwo from "../components/book/BookingStepTwo.svelte";
---

<Layout title=" | Book Studio">
	<div class="min-h-dvh flex flex-col gap-32 px-4 pt-24 pb-12">
		<div class="mx-auto w-full max-w-200 text-foreground">
			<div class="space-y-2 mb-12">
				<p class="text-primary text-base font-semibold tracking-widest uppercase">
					Step 1 of 2
				</p>
				<h1 class="text-4xl font-extrabold">Select recording space</h1>
				<p class="text-base text-muted-foreground">Choose your space and session time</p>
			</div>
			<BookingStepOneWrapper />
		</div>

		<div class="mx-auto w-full max-w-200 text-foreground">
			<div class="space-y-2 mb-12">
				<p class="text-primary text-base font-semibold tracking-widest uppercase">
					Step 2 of 2
				</p>
				<h1 class="text-4xl font-extrabold">Finalise Your Booking</h1>
				<p class="text-base text-muted-foreground">Confirm your session details and choose your addons</p>
			</div>
			<BookingStepTwo client:load/>
		</div>
	</div>
</Layout>
