---
import SimplybookWidget from "../components/SimplybookWidget.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title=" | Book Studio">
	<body class="bg-black">
		<SimplybookWidget />
	</body>
</Layout>
