---
import Layout from "../layouts/Layout.astro";
import BookingTestForm from "../components/book/BookingTestForm.svelte";
---

<Layout title=" | Book Studio">
	<div class="min-h-dvh px-4 pt-24 pb-8">
		<BookingTestForm client:load />
	</div>
</Layout>
