---
import HeroSection from "../components/landing/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title=" | For Hire in Sydney">
	<div class="from-background to-popover text-foreground bg-linear-to-b">
		<HeroSection />
	</div>
</Layout>
