---
import HeroSection from "../components/landing/HeroSection.astro";
import InformationSection from "../components/landing/InformationSection.astro";
import Layout from "../layouts/Layout.astro";
import PricingSection from "../components/landing/PricingSection.astro";
import TestimonialsSection from "../components/landing/TestimonialsSection.astro";
---

<Layout title=" | Video Production Studios For Hire in Sydney">
	<div class="landing-page">
		<HeroSection />
		<InformationSection />
		<TestimonialsSection />
		<PricingSection />
	</div>
</Layout>

<style>
	.landing-page {
		background: linear-gradient(
			180deg,
			var(--background) 0%,
			var(--popover) 100%
		);
		color: var(--foreground);
	}

	:global(html) {
		scroll-behavior: smooth;
	}
</style>
