---
import HeroSection from "../components/landing/HeroSection.astro";
import InformationSection from "../components/landing/InformationSection.astro";
import Layout from "../layouts/Layout.astro";
import PricingSection from "../components/landing/PricingSection.astro";
import TestimonialsSection from "../components/landing/TestimonialsSection.astro";
---

<Layout title=" | Video Production Studios For Hire in Sydney">
	<div class="bg-linear-to-b from-background to-popover text-foreground">
		<HeroSection />
		<InformationSection />
		<TestimonialsSection />
		<PricingSection />
	</div>
</Layout>
