---
import { Button } from "$lib/components/ui/button/index.ts";
import Layout from "../layouts/Layout.astro";
---

<Layout title=" | Studios">
	<section class="min-h-full px-4 pt-24 pb-12">
		<div class="mx-auto flex w-full max-w-5xl flex-col items-center gap-6">
			<h1 class="text-3xl">Studios</h1>
			<div class="flex flex-row items-center justify-center gap-4">
				<Button
					href="/"
					variant="secondary">
					Return Home
				</Button>
			</div>
		</div>
	</section>
</Layout>

<style>
	h1 {
		font-weight: var(--font-weight-bold);
		color: white;
	}
</style>
