---
import { Button } from "$lib/components/ui/button/index.js";
import Layout from "../layouts/Layout.astro";
---

<Layout title="studios | ">
	<body class="bg-black">
		<h1 class="text-3xl">studios</h1>
		<div class="flex flex-row items-center justify-center gap-4">
			<Button
				href="/"
				variant="secondary">
				Return Home
			</Button>
		</div>
	</body>
</Layout>

<style>
	h1 {
		font-weight: var(--font-weight-bold);
		color: white;
	}
</style>
