<div id="sbw_dectjx"></div>

<script type="text/javascript" is:inline>
	(function (w, d, s, i) {
		var script = d.createElement(s);
		script.async = true;
		script.src = "//widget.simplybook.net/v2/widget/widget.js";
		script.onload = function () {
			new SimplybookWidget({
				widget_type: "iframe",
				url: "https:\/\/leozhou.simplybook.net",
				theme: "concise",
				theme_settings: {
					timeline_hide_unavailable: "0",
					hide_past_days: "0",
					timeline_show_end_time: "0",
					timeline_modern_display: "as_slots",
					light_font_color: "#ffffff",
					sb_secondary_base: "#0f0f0f",
					sb_base_color: "#ffee00",
					display_item_mode: "block",
					booking_nav_bg_color: "#0f0f0f",
					sb_review_image: "",
					dark_font_color: "#0f0f0f",
					btn_color_1: "#ffee00",
					sb_company_label_color: "#ffee00",
					hide_img_mode: "0",
					show_sidebar: "1",
					sb_busy: "#474747",
					sb_available: "#ffffff",
				},
				timeline: "modern_week",
				datepicker: "inline_datepicker",
				is_rtl: false,
				app_config: {
					clear_session: 0,
					allow_switch_to_ada: 0,
					predefined: [],
				},
				container_id: "sbw_dectjx",
			});
		};
		d.head.appendChild(script);
	})(window, document, "script", "sbw_dectjx");
</script>
