---
import DesktopNav from "../components/DesktopNav.svelte";
import Footer from "../components/Footer.svelte";
import MobileNav from "../components/MobileNav.svelte";
import "../styles/global.css";
import '@fontsource-variable/montserrat';

const { title } = Astro.props;
const currentPath = Astro.url.pathname;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<link
			rel="icon"
			href="/favicon.ico"
		/>
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<title>vv studios{title}</title>
	</head>
	<body>
		<!-- Mobile Nav -->
		<MobileNav currentPath={currentPath} client:media="(max-width: 767px)" />
		<div id="site-shell" class="flex min-h-screen flex-col">
			<!-- Desktop Nav -->
			<DesktopNav currentPath={currentPath} />
			<main>
				<!-- Page Content -->
				<slot />
			</main>
			<!-- Footer -->
			<Footer />
		</div>
	</body>

</html>

<style>
	body {
		font-family: var(--font-primary);
		letter-spacing: 0.02em;
	}
</style>
